@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), local('NotoSans'), url('../font/notosans.woff2') format('woff2'), url('../font/notosans.woff') format('woff'), url('../font/notosans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../font/playfairdisplay.woff2') format('woff2'), url('../font/playfairdisplay.woff') format('woff'), url('../font/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    height: 100%;
    color: #333840;
    min-width: 1180px;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-weight: bold;
    font-family: 'Playfair Display';
}

h1 {    
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 33px;
}

h2 {
    font-size: 44px;
    line-height: 50px;
}

.header {
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    /* box-shadow: 0px 5px 15px rgba(33, 37, 41, 0.17), 0px 2px 5px rgba(51, 84, 117, 0.12); */
}

.header__wrapper {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: inline-block;
    margin-left: 42px;
    font-weight: 600;
    cursor: pointer;
}

.header__phone {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: inline-block;
    margin-left: 42px;
    font-weight: 600;
}

.header__link:hover {
    color: #0061A8;
}

.homepage {
    background: #001c36 url(../images/homepage-background.jpg) no-repeat top center;
    color: #ffffff;
    height: 1000px;
    overflow: hidden;
    font-size: 22px;
    line-height: 38px;
}

.homepage__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 390px;
    position: relative;
    text-align: center;
}

.homepage__button {
    width: 165px;
    height: 48px;
    display: inline-block;
    background: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 58px 15px 0 15px;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 0.02em;
    color: #1D1F24;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
}

.homepage__button:hover {
    background: #EBEFF5;
}

.about-us {
    height: 570px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 147px;
    background: #f5f7fa;
}

.about-us__title {
    margin-bottom: 39px;
}

.empire-digital {
    background: #004eaa;
    color: #ffffff;
    height: 736px;
}

.empire-digital__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 152px;
    text-align: center;
}

.empire-digital__title {
    margin-bottom: 110px;
}

.empire-digital__info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 32px;
}

.empire-digital__icon {
    height: 110px;
}

.get-started {
    height: 444px;
    text-align: center;
    padding-top: 143px;
}

.get-started__title {
    margin-bottom: 37px;
}

.get-started__button {
    width: 165px;
    height: 48px;
    display: inline-block;
    background: #004eaa;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 15px 0 15px;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
}

.contact-us {
    background: #f5f7fa;
    color: #333840;
    height: 1148px;
}

.contact-us__address {
    width: 1140px;
    margin: 0 auto;
    padding-top: 146px;
    text-align: center;
    height: 400px;
}

.contact-us__title {
    margin-bottom: 75px;
}

.contact-us__phone {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 21px;
}

.contact-us__map {
    height: 680px;
    width: 100%;
}

.contact-us__copyright {
    height: 68px;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    color: #8E99AB;
    box-sizing: border-box;
    padding-top: 19px;
    background: #F5F7FA;
}