@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../font/opensans.woff2') format('woff2'), url('../font/opensans.woff') format('woff'), url('../font/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'), local('NotoSerif'), url('../font/notoserif.woff2') format('woff2'), url('../font/notoserif.woff') format('woff'), url('../font/notoserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    height: 100%;
    color: #333840;
    min-width: 1180px;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 18px;
    font-family: 'Noto Serif';
}

h2 {
    margin-bottom: 37px;
}

.header {
    background: #ffffff;
    width: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 15px rgba(33, 37, 41, 0.17), 0px 2px 5px rgba(51, 84, 117, 0.12);
}

.header__wrapper {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #1D1F24;
    display: inline-block;
    margin-left: 83px;
    font-weight: 600;
    cursor: pointer;
}

.header__link:hover {
    color: #0061A8;
}

.homepage {
    background: #0061A8;
    color: #ffffff;
    height: 920px;
    overflow: hidden;
    margin-top: 80px;
}

.homepage__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 209px;
    position: relative;
}

.homepage__photo {
    position: absolute;
    top: 0;
    left: 585px;
}

.homepage__button {
    width: 165px;
    height: 48px;
    display: inline-block;
    background: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin: 66px 30px 0 0;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 0.02em;
    color: #1D1F24;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
}

.homepage__button:hover {
    background: #EBEFF5;
}

.about-us {
    height: 660px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 193px;
}

.empire-digital {
    background: #0061A8;
    color: #ffffff;
    height: 660px;
}

.empire-digital__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 145px;
    display: flex;
    justify-content: space-between;
}

.empire-digital__icon {
    margin-bottom: 42px;
    display: inline-block;
}

.empire-digital__icon--last {
    margin-bottom: 36px;
}

.contact-us {
    background: #434A54;
    color: #DDE3ED;
    height: 400px;
}

.contact-us__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
}

.contact-us__phone {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}